<mat-toolbar class="app-header" color="primary">
  <div class="container">
    <div class="app-header-row">
      <div class="app-header-brand">
        Studydrive SPA
      </div>

      <div class="app-header-button">
        <button *ngIf="!user" mat-raised-button (click)="openAuthenticationDialog()">Login/Register</button>
        <button *ngIf="user" mat-raised-button [matMenuTriggerFor]="pagesMenu">Menu</button>
        <mat-menu #pagesMenu="matMenu" xPosition="before">
          <button mat-menu-item [routerLink]="['/photos']">Photos</button>
          <button mat-menu-item [routerLink]="['/profile']">My Profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
