.app-header {
  padding: 0;

  .app-header-row {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

  .app-header-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 1rem;
    }
  }
}
