<div class="profile">
  <div class="container">
    <div class="profile-wrapper">
      <mat-card>
        <form (ngSubmit)="updateProfile()" [formGroup]="formUpdateProfile" novalidate class="register-form authentication-form">
          <mat-form-field class="full-width">
            <input type="text" formControlName="name" placeholder="Name" matInput />
            <mat-error *ngIf="formUpdateProfile.get('name').hasError('maxLength')">
              Character limit exceeded
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="text" formControlName="username" placeholder="* Username" matInput />
            <mat-error *ngIf="formUpdateProfile.get('username').hasError('required')">
              This field is Required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="password" formControlName="password" placeholder="* Password" matInput />
            <mat-error *ngIf="formUpdateProfile.get('password').hasError('required')">
              This field is Required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="password" formControlName="password_confirmation" placeholder="*  Confirm Password" matInput />
            <mat-error *ngIf="formUpdateProfile.get('password_confirmation').hasError('required')">
              This field is Required
            </mat-error>
          </mat-form-field>


          <button class="text-center" [disabled]="isLoading" mat-raised-button color="primary">
            {{ this.isLoading ? 'Loading...' : 'Register' }}
          </button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
