.profile {
  padding: 2rem 0;

  .profile-wrapper {
    @media screen and (min-width: 768px) {
      width: 100%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

