<section class="photos">
  <div class="container">

    <ng-container *ngIf="!isWeekend">
      <table mat-table [dataSource]="photoDataSource">
        <ng-container matColumnDef="thumbnail">
          <th mat-header-cell *matHeaderCellDef disabled> Thumbnail</th>
          <td mat-cell *matCellDef="let photo">
            <img src="{{photo.thumbnailUrl}}" alt="{{photo.title}}">
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title</th>
          <td mat-cell *matCellDef="let photo"> {{photo.title}} </td>
        </ng-container>

        <ng-container matColumnDef="favorites">
          <th mat-header-cell *matHeaderCellDef disabled> Favorites</th>
          <td mat-cell *matCellDef="let photo"> {{photo.favorites}} </td>
        </ng-container>

        <ng-container matColumnDef="last_interaction">
          <th mat-header-cell *matHeaderCellDef> Last Interaction</th>
          <td mat-cell *matCellDef="let photo"> {{photo.last_interaction}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let photo; columns: displayedColumns;"></tr>
      </table>
      <div *ngIf="photoDataSource.loading$ | async">Loading...</div>
      <mat-spinner [diameter]="20" *ngIf="photoDataSource.loading$ | async"></mat-spinner>
    </ng-container>

    <ng-container *ngIf="isWeekend">
      <table mat-table [dataSource]="userDataSource" class="users-like-list">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let user"> {{user.name}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username</th>
          <td mat-cell *matCellDef="let user"> {{user.username}} </td>
        </ng-container>

        <ng-container matColumnDef="favorites">
          <th mat-header-cell *matHeaderCellDef> Favorites</th>
          <td mat-cell *matCellDef="let user"> {{user.favorites}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="usersDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: usersDisplayedColumns;"></tr>
      </table>
      <div *ngIf="userDataSource.loading$ | async">Loading...</div>
      <mat-spinner [diameter]="20" *ngIf="userDataSource.loading$ | async"></mat-spinner>
    </ng-container>

  </div>
</section>
