.photos {
  padding: 2rem 0;

  .photos-list {
    @media screen and (min-width: 768px) {
      width: 100%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    .list-item {
      display: grid;
      grid-template-columns: 3fr 9fr;
      grid-column-gap: 30px;
      margin: 2rem 0;

      &:first-child {
        margin: 0 0 2rem;
      }

      &:last-child {
        margin: 2rem 0 0;
      }

      .item-image {
        grid-row-start: 1;
        grid-row-end: 3;
        max-width: 100%;
        height: 75px;
        width: 100%;
        object-fit: cover;

        @media screen and (min-width: 570px) {
          height: 85px;
        }
      }

      .item-title,
      .item-favs {
        margin: 0
      }

      .item-title {
        font-size: 18px;
      }

      .item-favs {
        .favs-label {
          display: flex;
          align-items: flex-end;
          font-size: 14px;

          .mat-icon {
            font-size: 18px;
            height: auto;
            width: auto;
            margin-right: 5px;
            color: #ed4956;
          }
        }
      }
    }
  }

  .users-like-list {
    width: 100%;

    @media screen and (min-width: 768px) {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
