<section class="photos">
  <div class="container">
    <table mat-table [dataSource]="imageDataSource"
           matSort
           #sort="matSort"
           matSortActive="last_interaction"
           matSortDirection="asc">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disabled> ID</th>
        <td mat-cell *matCellDef="let image"> {{image.id}} </td>
      </ng-container>

      <ng-container matColumnDef="thumbnail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disabled> Thumbnail</th>
        <td mat-cell *matCellDef="let image">
          <img src="{{image.thumbnailUrl}}" alt="{{image.title}}">
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disabled> Title</th>
        <td mat-cell *matCellDef="let image"> {{image.title}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef>Actions</th>
        <td *matCellDef="let image">
          <button (click)="favorite(image.id)" class="like-button" matTooltip="Favorite Photo">
            <mat-icon>favorite_border</mat-icon>
          </button>
          <button (click)="unfavorite(image.id)" class="like-button active" matTooltip="Unfavorite Photo">
            <mat-icon>favorite</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let photo; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="!imageDataSource.hasItems">No records found</div>
    <div *ngIf="imageDataSource.loading$ | async">Loading...</div>
    <mat-spinner [diameter]="20" *ngIf="imageDataSource.loading$ | async"></mat-spinner>
    <mat-paginator [pageSize]="20" [length]="imageDataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</section>
