<div class="photos-list">
  <div class="photos-item" *ngFor="let photo of photos">
    <img src="{{photo.url}}" alt="" class="item-image">
    <div class="title-content">{{photo.title}}</div>
    <div class="like-content">
      <button class="like-button">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button class="like-button active">
        <mat-icon>favorite</mat-icon>
      </button>
      2000 favs
    </div>
  </div>
</div>
