.photos-list {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media screen and (min-width: 576px) {
    display: flex;
    flex-wrap: wrap;
  }

  .photos-item {
    margin-bottom: 2rem;

    @media screen and (min-width: 576px) {
      flex-basis: calc(50%);
      max-width: 50%;
      padding: 0 15px;
    }

    @media screen and (min-width: 992px) {
      flex-basis: calc(33%);
      max-width: 33%;
    }

    .item-image {
      max-width: 100%;
    }

    .title-content {
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      margin-bottom: .5rem;
    }

    .like-content {
      display: flex;
      align-items: flex-end;

      .like-button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        padding: 0;
        margin-right: 5px;

        &:hover {
          .mat-icon {
            color: red;
            transition: all .3s;
          }
        }

        &.active {
          .mat-icon {
            color: red;
          }
        }

        .mat-icon {
          height: auto;
          width: auto;
        }
      }
    }
  }
}
