.mat-dialog-close {
  .close-button {
    display: flex;
    margin-left: auto;
    background: 0;
    border: 0;
    cursor: pointer;
    outline: 0;
  }
}

.authentication-form {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;

  .mat-form-field {
    margin-bottom: 1rem;
  }
}
