<mat-dialog-content class="mat-typography">
  <div class="mat-dialog-close">
    <button mat-dialog-close class="close-button">
      <mat-icon aria-hidden="false" aria-label="Close">close</mat-icon>
    </button>
  </div>
  <mat-tab-group [dynamicHeight]="true" mat-align-tabs="center">
    <mat-tab label="Login">
      <form (ngSubmit)="login()" [formGroup]="formLogin" novalidate class="login-form authentication-form">
        <mat-form-field class="full-width">
          <input type="text" formControlName="username" placeholder="Username" matInput />
          <mat-error *ngIf="formLogin.get('username').hasError('required')">
            This field is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" formControlName="password" placeholder="Password" matInput />
          <mat-error *ngIf="formLogin.get('password').hasError('required')">
            This field is Required
          </mat-error>
        </mat-form-field>

        <button class="text-center" [disabled]="isLoading" mat-raised-button color="primary">
          {{ this.isLoading ? 'Loading...' : 'Login' }}
        </button>
      </form>
    </mat-tab>
    <mat-tab label="Register">
      <form (ngSubmit)="register()" [formGroup]="formRegister" novalidate class="register-form authentication-form">
        <mat-form-field class="full-width">
          <input type="text" formControlName="name" placeholder="Name" matInput />
          <mat-error *ngIf="formRegister.get('name').hasError('maxLength')">
            Character limit exceeded
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="text" formControlName="username" placeholder="* Username" matInput />
          <mat-error *ngIf="formRegister.get('username').hasError('required')">
            This field is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" formControlName="password" placeholder="* Password" matInput />
          <mat-error *ngIf="formRegister.get('password').hasError('required')">
            This field is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" formControlName="password_confirmation" placeholder="*  Confirm Password" matInput />
          <mat-error *ngIf="formRegister.get('password_confirmation').hasError('required')">
            This field is Required
          </mat-error>
        </mat-form-field>


        <button class="text-center" [disabled]="isLoading" mat-raised-button color="primary">
          {{ this.isLoading ? 'Loading...' : 'Register' }}
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
